﻿@model DymmyNet.Web.ViewModels.UserSettingsViewModel

<div class="container">
    <div class="col-md-6">
        <h3>Изменение пользовательских данных</h3>
        <form role="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="inpName">Имя</label>
                <input id="inpName" type="text" class="form-control" data-bind="value: user() && user().name" />
            </div>
            <div class="form-group">
                <label for="inpSurname">Фамилия</label>
                <input id="inpSurname" type="text" class="form-control" data-bind="value: user() && user().surname" />
            </div>
            <div class="form-group">
                <label for="inpPatronymic">Отчество</label>
                <input id="inpPatronymic" type="text" class="form-control" data-bind="value: user() && user().patronymic" />
            </div>
        </form>
        <input type="button" id="btnSaveUser" class="btn btn-primary" value="Сохранить" data-bind="click: saveUser"/>
        <p data-bind="visible: user() && user().errorMessage, text: user() && user().errorMessage"></p>

        <h3>Изменение аватара</h3>
        <form role="form" class="form-horizontal">
            <div class="form-group">

                <input class="form-control" type="file" accept="image/*" data-bind="file: user() && user().imageFile, fileObjectURL: user() && user().imageObjectURL, imageBase64: user() && user().image, imageType:  user() && user().imageType" />
                <p data-bind="visible: user() && user().imageStatus, text: user() && user().imageStatus"></p>        
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Смена пароля</h3>
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {id = "changePasswordForm"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
            </div>
            <input type="submit" class="btn btn-default" value="Смена пароля"/>
        }
    </div>
</div>