﻿@model DymmyNet.Web.ViewModels.UserSettingsViewModel
@{
    ViewBag.Title = "Управление учетной записью";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>Вы вошли как <strong>@User.Identity.Name</strong>.</p>
    
    <section class="todoList">
    @Html.Partial("_ChangePasswordPartial")
    </section>
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/userSettings")
    }
}
