﻿@model DymmyNet.Web.ViewModels.LoginViewModel

@using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <legend>Форма входа</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new {autofocus = "autofocus", id = "loginName", @class="form-control"})
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new{@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.RememberMe, new {type = "checkbox"})
        @Html.LabelFor(m => m.RememberMe)
    </div>
    <button type="submit" class="btn btn-default">Выполнить вход</button>
    @Html.ValidationSummary()
}
