﻿<div id="userContent">
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    <p class="error" data-bind="text: error"></p>
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()"/>
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="photo">
                <img style="max-height: 100%; max-width: 100%" data-bind="attr: {src: user() && user().avatar}"/>
            </div>

            <div class="col-md-8">
                <h3 data-bind="text: user() && user().surname"></h3>
                <h3 data-bind="text: user() && user().name"></h3>
                <h3 data-bind="text: user() && user().patronymic"></h3>
            </div>
        </div>
        @if (@ViewBag.MyNick != @ViewBag.UserNick)
        {
            <div class="row" style="margin-top: 20px ">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-default" data-bind="click: addToFriends, text: isFriend() ? 'В друзьях' : 'Добавить в друзья' , disable: isFriend()"></button>
                </div>
            </div>
        }
        @if (@ViewBag.MyNick == @ViewBag.UserNick)
        {
            <div class="row" style="margin-top: 20px ">
                <form role="form">
                    <div class="form-group">
                        <textarea id="newPostText" data-bind="value: newPost().text" class="form-control" rows="3" placeholder="What's up?" required></textarea>
                    </div>
                    <input type="submit" id="btnSaveUser" class="btn btn-primary" value="Добавить" data-bind="click: addPost" />
                </form>
            </div>
        }
        <div class="row" style="margin-top: 20px " data-bind="foreach: posts">
            <div class="well" data-bind="text: text()"></div>
        </div>
    </div>
    <div>
        
    </div>
    
</div>
