﻿@model DymmyNet.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "DymmyNet";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
<div id="main-content">
@if (@User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        var myNick = '@ViewBag.MyNick';
        var userNick = '@ViewBag.UserNick';
</script>
    @Html.Partial("_User")

}
else
{
    <div class="container">
        <div class="col-md-6" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Войти</h2>
                @Html.Partial("_Login")
            </section>
            <p>Первый раз здесь? <a id="showRegister">Зарегистрироваться</a></p>
        </div>
        <div class="col-md-6" id="registerPanel">
            <h2>Зарегистрироваться</h2>
            @Html.Partial("_Register")
            <p>
                Уже зарегистрированы? <a id="showLogin">Войти</a>
            </p>
        </div>
    </div>
}
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/user")
    }
}