﻿@if (Request.IsAuthenticated) {
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DummyNet", "Index" , "Home", new {id = ViewBag.MyNick }, new {@class="navbar-brand"})
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Моя страница", "Index", "Home", new { id = ViewBag.MyNick }, null)</li>
                    <li>@Html.ActionLink("Друзья", "Index", "Friends")</li>
                    <li>@Html.ActionLink("Сообщения", "Index", "IM")</li>
                    <li><a href="#"></a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search" action="@Url.Action("Index", "Search")" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="searchstring" placeholder="Поиск">
                    </div>
                    <button type="submit" class="btn btn-default">Поиск</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </nav>
}