﻿@model DymmyNet.Web.ViewModels.UsersListViewModel
@{
    ViewBag.Title = "DymmyNet";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
<div id="main-content">
@if (@User.Identity.IsAuthenticated){
    <script type="text/javascript">
        var myNick = '@ViewBag.MyNick';
    </script>
}
    <div class="container">
        @if (!Model.Users.Any())
        {
            <div class="well">
                Кажется у вас пока нет друзей
            </div>
        }

        @foreach (var user in Model.Users)
        {
            <a class="row" href="@Url.Action("Index", "Home", new { id = user.Nick })">
                <div class="well well-lg" style="min-height: 150px">
                    <div class="col-md-4">
                        <img src="@user.Avatar" style="max-height: 100px; max-width: 100px" />
                    </div>
                    <div class="col-md-8" style="display: inline-block; vertical-align: middle; float: none; font-size: 40px">
                        @user.Name @user.Surname
                    </div>
                </div>
            </a>
        }
    </div>

</div>