﻿@model IEnumerable<DymmyNet.Web.ViewModels.ConversationViewModel>
@{
    ViewBag.Title = "DymmyNet";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
<div id="main-content">
    @if (@User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            var myNick = '@ViewBag.MyNick';
        </script>
    }
    <div class="container">

        <div class="container">
            <div class="col-md-3" data-bind="foreach: conversations">
                <div class="row text-center btn-link" style="background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px;min-height: 20px" data-bind="click: $parent.selectConversation">
                    <div class="col-xs-10 text-center" data-bind="text: userName">
                        <span></span>
                    </div>
                    <div class="col-xs-2" style="vertical-align: central">
                        <span data-bind="visible: newMessagesCnt() > 0, text: newMessagesCnt"></span>
                    </div>
                </div>
            </div>
            <div id="messagesContainer" class="col-md-9" data-bind="visible: newMessage">
                <div class="row" style="margin-top: 20px">
                    <form role="form">
                        <div class="form-group">
                            <textarea id="newPostText" data-bind="value: newMessage() && newMessage().text" class="form-control" rows="3" placeholder="Текст сообщения" required></textarea>
                        </div>
                        <input type="submit" id="btnSaveUser" class="btn btn-primary" value="Отправить" data-bind="click: sendMessage"/>
                    </form>
                </div>
                <div class="row" style="margin-top: 20px " data-bind="foreach: conversationMessages">
                    <div class="well" data-bind="text: userName + ': ' + text()"></div>
                </div>
            </div>
        </div>

    </div>
</div>

@if (@User.Identity.IsAuthenticated)
{
@section Scripts {
    <script src="/Scripts/jquery.signalR-1.1.4.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/im")
}
}
